__pycache__/
.env
dataset/**/swe_bench_repos/*
logs*/
*.json
!results/**/*.json
!execution/**/*.json
!dataset/context/*.json
!dataset/ground_truths/*.json
*.log
*.txt
!dataset/extract_ground_truths/effect/prompts/*.txt
explainbench.egg-info/PKG-INFO