__pycache__/
.env
dataset/extract_ground_truths/localization/swe_bench_files/*
dataset/extract_ground_truths/localization/swe_bench_files_bak/*
dataset/extract_ground_truths/localization/swe_bench_repos/*
dataset/extract_ground_truths/localization/misc/*
dataset/extract_ground_truths/effect/tmp/*
logs*/
*.json
!results/**/*.json
!dataset/context/*.json
dataset/extract_ground_truths/effect/ignore/*
*.log
*.txt
explainbench.egg-info/PKG-INFO
helpers/*