[submodule "explanations"]
	path = dataset/explanations
	url = https://github.com/pan2013e/sweb-agent-explanations.git
[submodule "py-tracer"]
	path = py-tracer
	url = https://github.com/imamnurby/swe-bench-tracer-py.git
[submodule "audit_agent"]
	path = audit_agent
	url = https://github.com/smkang96/explanation-audit-agent.git
[submodule "pbt-generator"]
	path = pbt-generator
	url = git@github.com:smkang96/pbt-acr.git
