include examples/evaluation-lite.toml
include examples/submission-lite.json
include examples/evaluation-full.toml
include examples/submission-full.json
recursive-include examples/question-artifacts *.json
